{% extends './base.html' %}



{% block title %}
    Autenticação
{% endblock title %}
    
{% block body %}

<br>
<br>
<br>



<form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Log in</button>
</form>



{% comment %} <div class="container text-center">
    <i class="bi bi-person-workspace" style="font-size: 5rem;"></i>
    <form action="/Start/" method="POST">{% csrf_token %}
        <div class="form-group">  
                                            <div class="container text-center"><b>Login</b><div>
                                            <br>
            <input type="text" id="username" class="form-control" name="username" placeholder="Login">
            <br>
                                            <div class="container text-center"><b>Senha</b><div>
                                                <br>
            <input type="password" id="password" class="form-control" name="password" placeholder="Senha">          
        </div>
        <div class="form-group">
            <br>

            <button  type="submit" class="btn btn-success btn-block text-white">
                
                <i class="bi bi-arrow-right-square-fill text-center bg-dark.bg-gradient"></i>

            </button>
        </div>
            

    </form> {% endcomment %}
    
{%endblock%}