{% extends './base.html' %}
    <!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>
            
            SCGA - Alfa|FGH

            
            </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    {% block body %}
    <body>        
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          

          <!-- cards-->

          <section class="container offset-md-2 row mx-auto-center text-center">
            <div class="card text-white bg-secondary col-3 mb-3" style="max-width: 18rem;">
              <a class="card-header text-decoration-none"href="/Estacao">GERENCIAR ESTAÇÕES DE TRABALHO</a>
              <div class="card-body">
              
                <i class="bi bi-pc-display" style="font-size: 5rem; color: cornflowerblue;"></i>
                
              </div>
            </div>
            <br>
            <br>
            <!--card2-->
            <div class="card text-white bg-secondary col-3 mb-3" style="max-width: 18rem;">
              <a class="card-header text-decoration-none" href="/Impressoras">GERENCIAR DISPOSITVOS DE IMPRESSÃO</a>
              <div class="card-body">
                
                <i class="bi bi-printer-fill" style="font-size: 5rem; color: cornflowerblue;"></i>

              </div>
            </div>
            <br>
          <br>
            <!--card3-->
            <div class="card text-white bg-secondary col-3 mb-3" style="max-width: 18rem;">
              <a class="card-header text-decoration-none" href="/Telefones">GERENCIAR DISPOSITIVOS DE TELE-COMUNICAÇÃO</a>
              <div class="card-body">
                
                <i class="bi bi-telephone-fill" style="font-size: 5rem; color: cornflowerblue;"></i>


            </div>
          </div>
              </section>
              {% endblock %}

 








        <!-- JavaScript Bundle with Popper -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.6/dist/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.2.1/dist/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
        <script src="./assets/bootstrap/js/bootstrap.js"></script>
        
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    </body>
</html>